<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Todo App (CRUD)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="assets/jquery.js"></script>
  <script src="assets/todoList.js"></script>
  <link rel="stylesheet" href="assets/style.css"> 
</head>
<body>
<!-- partial:index.partial.html -->
<div class="app">
  <div class="header">
    <h1>Todo App</h1>
  </div>
  <input id="ipt-toggle-modal" type="checkbox"/>
  <label class="btn-toggle-modal" for="ipt-toggle-modal"><span>+</span></label>
  <div class="notification">Task edited successfully</div>
  <div class="tasks">
    <% for(var i =0; i < todos.length; i++) { %>
    <div class="task" data-index="0">
      <div class="task-header">
        <div class="left-side">
          <ion-icon name="flame" data-priority="high"></ion-icon>
          <span class="task-title">
            <%= todos[i].item %>
          </span>
        </div>
        <div class="right-side">
          <div class="btn-edit-task" title="Edit task" onclick="editTask(event, this)">
            <ion-icon name="create"></ion-icon>
          </div>
          <div class="btn-complete-task" title="Complete task" onclick="completeTask(event, this)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
          <div class="btn-remove-task" title="Remove task" onclick="removeTask(event, this)">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
      </div>
      <div class="task-body"><span class="task-description"><%= todos[i].desc %></span></div>
      <div class="task-footer"><span class="task-status">Task completed <%=todos[i].status %></span><span class="task-timestamp"><%= todos[i].timestamp %></span></div>
    </div>
    <% } %>
  </div>
  <div class="overlay">
    <p>Add task</p><span>Fill at least the title of the task, description is not required 😁</span>
    <form class="modal">
      <label for="task-title">Title</label>
      <input id="task-title" type="text"/>
      <label for="task-desc">Description</label>
      <textarea id="task-desc" rows="3"></textarea><span>Priority</span>
      <div class="priority">
        <input id="high" type="radio" name="priority" value="high"/>
        <label for="high">High</label>
        <input id="medium" type="radio" name="priority" value="medium" checked="checked"/>
        <label for="medium">Medium</label>
        <input id="low" type="radio" name="priority" value="low"/>
        <label for="low">Low</label>
      </div>
      <div class="modal-btns">
        <button class="btn-add-task">Add</button>
        <div class="btn-cancel-task">Cancel</div>
      </div>
    </form>
  </div>
</div>
<!-- partial -->
  <script src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js'></script>
<script src='https://momentjs.com/downloads/moment-with-locales.min.js'></script>
<script src="assets/animation.js"></script>
<!-- <script src="assets/script.js"></script> -->
</body>
</html>